Repository AY1920S1-CS2103T-T10-1/main, pull requests merged in 2019-10, with the labels that each got.

#40 Add Finance Tracker features
  src/main/java/seedu/jarvis/model/FinanceTrackerModel.java
  src/main/java/seedu/jarvis/model/ModelManager.java
  src/main/java/seedu/jarvis/model/financetracker/FinanceTracker.java
  src/main/java/seedu/jarvis/model/financetracker/Installment.java
  src/main/java/seedu/jarvis/model/financetracker/InstallmentList.java
  src/main/java/seedu/jarvis/model/financetracker/Purchase.java
  src/main/java/seedu/jarvis/model/financetracker/PurchaseList.java
  src/main/java/seedu/jarvis/model/financetracker/exceptions/InstallmentNotFoundException.java
  src/main/java/seedu/jarvis/model/financetracker/exceptions/NegativeLimitException.java
  src/main/java/seedu/jarvis/model/financetracker/exceptions/PurchaseNotFoundException.java
  src/test/java/seedu/jarvis/model/finance/FinanceTrackerTest.java
  src/test/java/seedu/jarvis/model/finance/InstallmentListTest.java
  src/test/java/seedu/jarvis/model/finance/InstalmentTest.java
  src/test/java/seedu/jarvis/model/finance/PurchaseListTest.java
  src/test/java/seedu/jarvis/model/finance/PurchaseTest.java
Labels: feature.Finance

#96 Change how application stores commands for undo and redo
  docs/UserGuide.adoc
  src/main/java/seedu/jarvis/MainApp.java
  src/main/java/seedu/jarvis/logic/LogicManager.java
  src/main/java/seedu/jarvis/logic/commands/CommandDeque.java
  src/main/java/seedu/jarvis/logic/commands/RedoCommand.java
  src/main/java/seedu/jarvis/logic/commands/UndoCommand.java
  src/main/java/seedu/jarvis/logic/commands/exceptions/CommandNotFoundException.java
  src/main/java/seedu/jarvis/logic/commands/exceptions/CommandNotInvertibleException.java
  src/main/java/seedu/jarvis/logic/commands/exceptions/DuplicateCommandException.java
  src/main/java/seedu/jarvis/logic/parser/RedoCommandParser.java
  src/main/java/seedu/jarvis/logic/parser/UndoCommandParser.java
  src/main/java/seedu/jarvis/logic/version/VersionControl.java
  src/main/java/seedu/jarvis/model/HistoryManager.java
  src/main/java/seedu/jarvis/model/HistoryModel.java
  src/main/java/seedu/jarvis/model/Model.java
  src/main/java/seedu/jarvis/model/ModelManager.java
  src/main/java/seedu/jarvis/model/UserPrefsModel.java
  src/test/java/seedu/jarvis/logic/LogicManagerTest.java
  src/test/java/seedu/jarvis/logic/commands/CommandDequeTest.java
  src/test/java/seedu/jarvis/logic/commands/ExitCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/HelpCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/RedoCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/UndoCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/address/AddAddressCommandIntegrationTest.java
  src/test/java/seedu/jarvis/logic/commands/address/AddAddressCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/address/ClearAddressCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/address/DeleteAddressCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/address/EditAddressCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/address/FindAddressCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/address/ListAddressCommandTest.java
  src/test/java/seedu/jarvis/logic/parser/JarvisParserTest.java
  src/test/java/seedu/jarvis/logic/parser/RedoCommandParserTest.java
  src/test/java/seedu/jarvis/logic/parser/UndoCommandParserTest.java
  src/test/java/seedu/jarvis/logic/version/VersionControlTest.java
  src/test/java/seedu/jarvis/model/HistoryManagerTest.java
  src/test/java/seedu/jarvis/model/ModelManagerTest.java
Labels: feature.UndoRedo

#105 Add CourseNotFoundException
  src/main/java/seedu/jarvis/commons/exceptions/CourseNotFoundException.java
  src/main/java/seedu/jarvis/commons/util/CourseUtil.java
  src/main/java/seedu/jarvis/commons/util/andor/AndOrTree.java
  src/test/java/seedu/jarvis/commons/util/CourseUtilTest.java
  src/test/java/seedu/jarvis/commons/util/andor/AndOrTreeTest.java
Labels: feature.Course, priority.High, type.Task

#102 Add HistoryManagerStorage and JsonHistoryManagerStorage
  src/main/java/seedu/jarvis/logic/commands/address/AddAddressCommand.java
  src/main/java/seedu/jarvis/logic/commands/address/ClearAddressCommand.java
  src/main/java/seedu/jarvis/logic/commands/address/DeleteAddressCommand.java
  src/main/java/seedu/jarvis/model/ModelManager.java
  src/main/java/seedu/jarvis/model/address/AddressBook.java
  src/main/java/seedu/jarvis/model/address/AddressModel.java
  src/main/java/seedu/jarvis/model/address/person/UniquePersonList.java
  src/main/java/seedu/jarvis/storage/address/AddressBookStorage.java
  src/main/java/seedu/jarvis/storage/address/JsonAdaptedPerson.java
  src/main/java/seedu/jarvis/storage/address/JsonAdaptedTag.java
  src/main/java/seedu/jarvis/storage/address/JsonSerializableAddressBook.java
  src/main/java/seedu/jarvis/storage/history/HistoryManagerStorage.java
  src/main/java/seedu/jarvis/storage/history/JsonHistoryManagerStorage.java
  src/main/java/seedu/jarvis/storage/history/commands/address/JsonAdaptedAddAddressCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/address/JsonAdaptedClearAddressCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/exceptions/InvalidCommandToJsonException.java
  src/test/java/seedu/jarvis/logic/commands/address/AddAddressCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/address/ClearAddressCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/address/DeleteAddressCommandTest.java
  src/test/java/seedu/jarvis/model/history/HistoryManagerTest.java
Labels: feature.UndoRedo, priority.Medium, type.Task

#106 Implement LookUp Feature
  src/main/java/seedu/jarvis/commons/exceptions/CourseNotFoundException.java
  src/main/java/seedu/jarvis/commons/util/StringUtil.java
  src/main/java/seedu/jarvis/logic/commands/course/LookUpCommand.java
  src/main/java/seedu/jarvis/logic/parser/CliSyntax.java
  src/main/java/seedu/jarvis/logic/parser/JarvisParser.java
  src/main/java/seedu/jarvis/logic/parser/course/LookUpCommandParser.java
  src/main/java/seedu/jarvis/model/course/Course.java
  src/main/java/seedu/jarvis/model/course/CoursePlannerModel.java
  src/test/java/seedu/jarvis/commons/util/StringUtilTest.java
  src/test/java/seedu/jarvis/commons/util/andor/AndNodeTest.java
  src/test/java/seedu/jarvis/commons/util/andor/AndOrNodeTest.java
  src/test/java/seedu/jarvis/commons/util/andor/LeafNodeTest.java
  src/test/java/seedu/jarvis/commons/util/andor/OrNodeTest.java
  src/test/java/seedu/jarvis/logic/commands/course/LookUpCommandTest.java
  src/test/java/seedu/jarvis/logic/parser/JarvisParserTest.java
  src/test/java/seedu/jarvis/logic/parser/course/LookUpCommandParserTest.java
  src/test/java/seedu/jarvis/testutil/course/CourseTestUtil.java
Labels: feature.Course, priority.High, type.Task

#114 Implement Add Task Command
  src/main/java/seedu/jarvis/logic/commands/planner/AddTaskCommand.java
  src/main/java/seedu/jarvis/logic/parser/CliSyntax.java
  src/main/java/seedu/jarvis/logic/parser/JarvisParser.java
  src/main/java/seedu/jarvis/logic/parser/ParserUtil.java
  src/main/java/seedu/jarvis/logic/parser/planner/AddTaskCommandParser.java
  src/main/java/seedu/jarvis/model/ModelManager.java
  src/main/java/seedu/jarvis/model/planner/Frequency.java
  src/main/java/seedu/jarvis/model/planner/Planner.java
  src/main/java/seedu/jarvis/model/planner/PlannerModel.java
  src/main/java/seedu/jarvis/model/planner/Priority.java
  src/main/java/seedu/jarvis/model/planner/Task.java
  src/main/java/seedu/jarvis/model/planner/TaskList.java
  src/main/java/seedu/jarvis/model/planner/exceptions/InvalidFrequencyException.java
  src/main/java/seedu/jarvis/model/planner/exceptions/InvalidPriorityException.java
  src/main/java/seedu/jarvis/model/planner/tasks/Deadline.java
  src/main/java/seedu/jarvis/model/planner/tasks/Event.java
  src/main/java/seedu/jarvis/model/planner/tasks/Task.java
  src/main/java/seedu/jarvis/model/planner/tasks/Todo.java
  src/test/java/seedu/jarvis/logic/commands/address/AddAddressCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/planner/AddTaskCommandTest.java
  src/test/java/seedu/jarvis/logic/parser/ParserUtilTest.java
  src/test/java/seedu/jarvis/model/history/HistoryManagerTest.java
  src/test/java/seedu/jarvis/model/planner/EventTest.java
  src/test/java/seedu/jarvis/model/planner/FrequencyTest.java
  src/test/java/seedu/jarvis/model/planner/PriorityTest.java
  src/test/java/seedu/jarvis/model/planner/TaskListTest.java
  src/test/java/seedu/jarvis/model/planner/tasks/DeadlineTest.java
  src/test/java/seedu/jarvis/model/planner/tasks/EventTest.java
  src/test/java/seedu/jarvis/model/planner/tasks/TodoTest.java
Labels: feature.Planner, priority.High

#122 Integrate commands into JarvisParser
  src/main/java/seedu/jarvis/logic/commands/finance/RemoveInstallmentCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/SetInstallmentCommand.java
  src/main/java/seedu/jarvis/logic/parser/JarvisParser.java
Labels: feature.Finance, priority.High

#129 Add delete cca command
  src/main/java/seedu/jarvis/commons/core/Messages.java
  src/main/java/seedu/jarvis/logic/commands/cca/AddCcaCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/DeleteCcaCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/EditCcaCommand.java
  src/main/java/seedu/jarvis/logic/parser/CliSyntax.java
  src/main/java/seedu/jarvis/logic/parser/JarvisParser.java
  src/main/java/seedu/jarvis/logic/parser/cca/AddCcaCommandParser.java
  src/main/java/seedu/jarvis/logic/parser/cca/CcaTrackerCliSyntax.java
  src/main/java/seedu/jarvis/logic/parser/cca/DeleteCcaCommandParser.java
  src/main/java/seedu/jarvis/logic/parser/cca/EditCcaCommandParser.java
  src/main/java/seedu/jarvis/model/ModelManager.java
  src/main/java/seedu/jarvis/model/cca/Cca.java
  src/main/java/seedu/jarvis/model/cca/CcaList.java
  src/main/java/seedu/jarvis/model/cca/CcaTracker.java
  src/main/java/seedu/jarvis/model/cca/CcaTrackerModel.java
  src/main/java/seedu/jarvis/model/cca/EquipmentList.java
  src/test/java/seedu/jarvis/logic/commands/address/AddAddressCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/cca/AddCcaCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/cca/CcaCommandTestUtil.java
  src/test/java/seedu/jarvis/logic/commands/finance/PaidCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/finance/SetInstallmentCommandTest.java
  src/test/java/seedu/jarvis/logic/parser/cca/AddCcaCommandParserTest.java
  src/test/java/seedu/jarvis/model/history/HistoryManagerTest.java
  src/test/java/seedu/jarvis/testutil/cca/CcaBuilder.java
  src/test/java/seedu/jarvis/testutil/cca/TypicalEquipmentList.java
  src/test/java/seedu/jarvis/testutil/cca/TypicalEquipments.java
Labels: feature.CCA, priority.High, type.Task

#139 Implement DeleteTask Command
  src/main/java/seedu/jarvis/commons/core/Messages.java
  src/main/java/seedu/jarvis/logic/commands/planner/AddTaskCommand.java
  src/main/java/seedu/jarvis/logic/commands/planner/DeleteTaskCommand.java
  src/main/java/seedu/jarvis/logic/parser/JarvisParser.java
  src/main/java/seedu/jarvis/logic/parser/ParserUtil.java
  src/main/java/seedu/jarvis/logic/parser/planner/AddTaskCommandParser.java
  src/main/java/seedu/jarvis/logic/parser/planner/DeleteTaskCommandParser.java
  src/main/java/seedu/jarvis/model/ModelManager.java
  src/main/java/seedu/jarvis/model/planner/Frequency.java
  src/main/java/seedu/jarvis/model/planner/Planner.java
  src/main/java/seedu/jarvis/model/planner/PlannerModel.java
  src/main/java/seedu/jarvis/model/planner/Priority.java
  src/main/java/seedu/jarvis/model/planner/TaskList.java
  src/main/java/seedu/jarvis/model/planner/tasks/Task.java
  src/test/java/seedu/jarvis/logic/commands/CommandTestUtil.java
  src/test/java/seedu/jarvis/logic/commands/finance/SetInstallmentCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/planner/AddTaskCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/planner/DeleteTaskCommandTest.java
  src/test/java/seedu/jarvis/logic/parser/planner/AddTaskCommandParserTest.java
  src/test/java/seedu/jarvis/logic/parser/planner/DeleteTaskCommandParserTest.java
  src/test/java/seedu/jarvis/model/ModelManagerTest.java
  src/test/java/seedu/jarvis/model/planner/PlannerTest.java
  src/test/java/seedu/jarvis/model/planner/TaskListTest.java
  src/test/java/seedu/jarvis/testutil/ModelStub.java
Labels: feature.Planner

#141 Remove null printing for tasks
  src/main/java/seedu/jarvis/model/planner/tasks/Deadline.java
  src/main/java/seedu/jarvis/model/planner/tasks/Event.java
  src/main/java/seedu/jarvis/model/planner/tasks/Task.java
  src/main/java/seedu/jarvis/model/planner/tasks/Todo.java
  src/test/java/seedu/jarvis/model/planner/tasks/DeadlineTest.java
  src/test/java/seedu/jarvis/model/planner/tasks/EventTest.java
  src/test/java/seedu/jarvis/model/planner/tasks/TodoTest.java
Labels: feature.Planner

#144 Refactor CourseUtil and other changes
  src/main/java/seedu/jarvis/commons/util/CourseUtil.java
  src/main/java/seedu/jarvis/commons/util/andor/AndNode.java
  src/main/java/seedu/jarvis/commons/util/andor/AndOrNode.java
  src/main/java/seedu/jarvis/commons/util/andor/AndOrOperation.java
  src/main/java/seedu/jarvis/commons/util/andor/AndOrOperationMapper.java
  src/main/java/seedu/jarvis/commons/util/andor/AndOrOperationMapperUtil.java
  src/main/java/seedu/jarvis/commons/util/andor/AndOrTree.java
  src/main/java/seedu/jarvis/commons/util/andor/DataNode.java
  src/main/java/seedu/jarvis/commons/util/andor/LeafNode.java
  src/main/java/seedu/jarvis/commons/util/andor/NoDataNode.java
  src/main/java/seedu/jarvis/commons/util/andor/OrNode.java
  src/main/java/seedu/jarvis/logic/commands/course/LookUpCommand.java
  src/main/java/seedu/jarvis/logic/parser/course/LookUpCommandParser.java
  src/main/java/seedu/jarvis/model/ModelManager.java
  src/main/java/seedu/jarvis/model/course/CoursePlanner.java
  src/main/java/seedu/jarvis/model/course/CoursePlannerModel.java
  src/test/java/seedu/jarvis/commons/util/CourseUtilTest.java
  src/test/java/seedu/jarvis/commons/util/andor/AndNodeTest.java
  src/test/java/seedu/jarvis/commons/util/andor/AndOrNodeTest.java
  src/test/java/seedu/jarvis/commons/util/andor/AndOrOperationMapperTest.java
  src/test/java/seedu/jarvis/commons/util/andor/AndOrOperationMapperUtilTest.java
  src/test/java/seedu/jarvis/commons/util/andor/AndOrTreeTest.java
  src/test/java/seedu/jarvis/commons/util/andor/DataNodeTest.java
  src/test/java/seedu/jarvis/commons/util/andor/LeafNodeTest.java
  src/test/java/seedu/jarvis/commons/util/andor/NoDataNodeTest.java
  src/test/java/seedu/jarvis/commons/util/andor/OrNodeTest.java
  src/test/java/seedu/jarvis/logic/commands/course/LookUpCommandTest.java
  src/test/java/seedu/jarvis/logic/parser/course/LookUpCommandParserTest.java
  src/test/java/seedu/jarvis/testutil/ModelStub.java
  src/test/java/seedu/jarvis/testutil/course/CourseTestUtil.java
Labels: feature.Course, priority.High, type.Enhancement

#136 Add find cca command and list cca command.
  src/main/java/seedu/jarvis/commons/core/Messages.java
  src/main/java/seedu/jarvis/logic/commands/cca/AddCcaCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/DeleteCcaCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/EditCcaCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/FindCcaCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/ListCcaCommand.java
  src/main/java/seedu/jarvis/logic/parser/JarvisParser.java
  src/main/java/seedu/jarvis/logic/parser/ParserUtil.java
  src/main/java/seedu/jarvis/logic/parser/cca/AddCcaCommandParser.java
  src/main/java/seedu/jarvis/logic/parser/cca/CcaParserUtil.java
  src/main/java/seedu/jarvis/logic/parser/cca/DeleteCcaCommandParser.java
  src/main/java/seedu/jarvis/logic/parser/cca/EditCcaCommandParser.java
  src/main/java/seedu/jarvis/logic/parser/cca/FindCcaCommandParser.java
  src/main/java/seedu/jarvis/model/ModelManager.java
  src/main/java/seedu/jarvis/model/cca/CcaList.java
  src/main/java/seedu/jarvis/model/cca/CcaNameContainsKeywordsPredicate.java
  src/main/java/seedu/jarvis/model/cca/CcaTracker.java
  src/main/java/seedu/jarvis/model/cca/CcaTrackerModel.java
  src/test/java/seedu/jarvis/logic/commands/address/AddAddressCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/cca/AddCcaCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/cca/CcaCommandTestUtil.java
  src/test/java/seedu/jarvis/logic/commands/cca/DeleteCcaCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/cca/FindCcaCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/cca/ListCcaCommandTest.java
  src/test/java/seedu/jarvis/logic/parser/cca/DeleteCcaCommandParserTest.java
  src/test/java/seedu/jarvis/logic/parser/cca/EditCcaCommandParserTest.java
  src/test/java/seedu/jarvis/logic/parser/cca/FindCcaCommandParserTest.java
  src/test/java/seedu/jarvis/model/cca/CcaListTest.java
  src/test/java/seedu/jarvis/model/cca/CcaTrackerTest.java
  src/test/java/seedu/jarvis/testutil/ModelStub.java
  src/test/java/seedu/jarvis/testutil/TypicalIndexes.java
Labels: feature.CCA, priority.High, type.Task

#145 Branch manage storage
  src/main/java/seedu/jarvis/MainApp.java
  src/main/java/seedu/jarvis/logic/LogicManager.java
  src/main/java/seedu/jarvis/model/userprefs/ReadOnlyUserPrefs.java
  src/main/java/seedu/jarvis/model/userprefs/UserPrefs.java
  src/main/java/seedu/jarvis/storage/Storage.java
  src/main/java/seedu/jarvis/storage/StorageManager.java
  src/test/java/seedu/jarvis/logic/LogicManagerTest.java
  src/test/java/seedu/jarvis/storage/StorageManagerTest.java
  src/test/java/seedu/jarvis/storage/history/JsonHistoryManagerStorageTest.java
Labels: feature.UndoRedo, priority.Medium, type.Task

#151 Inverse for add and delete commands
  src/main/java/seedu/jarvis/logic/commands/planner/AddTaskCommand.java
  src/main/java/seedu/jarvis/logic/commands/planner/DeleteTaskCommand.java
  src/main/java/seedu/jarvis/model/ModelManager.java
  src/main/java/seedu/jarvis/model/planner/Planner.java
  src/main/java/seedu/jarvis/model/planner/PlannerModel.java
  src/main/java/seedu/jarvis/model/planner/TaskList.java
  src/test/java/seedu/jarvis/logic/commands/planner/AddTaskCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/planner/DeleteTaskCommandTest.java
  src/test/java/seedu/jarvis/model/planner/PlannerTest.java
  src/test/java/seedu/jarvis/model/planner/TaskListTest.java
  src/test/java/seedu/jarvis/testutil/ModelStub.java
Labels: feature.Planner, priority.High, type.Task

#152 Update UserGuide, add some PlantUML files
  docs/UserGuide.adoc
  docs/diagrams/AndOrSequenceDiagram.puml
  docs/diagrams/JarvisModelClassDiagram.puml
Labels: priority.High, type.Task

#147 Add add-course and delete-course Commands
  src/main/java/seedu/jarvis/commons/core/Messages.java
  src/main/java/seedu/jarvis/logic/commands/course/AddCourseCommand.java
  src/main/java/seedu/jarvis/logic/commands/course/DeleteCourseCommand.java
  src/main/java/seedu/jarvis/logic/parser/JarvisParser.java
  src/main/java/seedu/jarvis/logic/parser/course/AddCourseCommandParser.java
  src/main/java/seedu/jarvis/logic/parser/course/DeleteCourseCommandParser.java
  src/main/java/seedu/jarvis/model/course/Course.java
  src/test/java/seedu/jarvis/logic/commands/course/AddCourseCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/course/DeleteCourseCommandTest.java
  src/test/java/seedu/jarvis/logic/parser/JarvisParserTest.java
  src/test/java/seedu/jarvis/logic/parser/course/AddCourseCommandParserTest.java
  src/test/java/seedu/jarvis/logic/parser/course/DeleteCourseCommandParserTest.java
  src/test/java/seedu/jarvis/testutil/TypicalIndexes.java
Labels: feature.Course, priority.High, type.Task

#160 Branch dg
  docs/DeveloperGuide.adoc
  docs/images/HistoryManagerClassDiagram.png
  docs/images/ModelDiagram.png
  docs/images/UndoCommandSequenceDiagram.png
  docs/images/UndoRedoActivityDiagram.png
  docs/images/UndoRedoCommandClassDiagram.png
  src/main/java/seedu/jarvis/logic/commands/CommandDeque.java
Labels: feature.UndoRedo, priority.High, type.Task

#169 Rework DG
  .gitignore
  docs/DeveloperGuide.adoc
  docs/Documentation.adoc
  docs/diagrams/AndOrNodeInheritanceClassDiagram.puml
  docs/diagrams/AndOrSequenceDiagram.puml
  docs/diagrams/AndOrSequenceDiagramSimplified.puml
  docs/diagrams/ModelCoursePlannerClassDiagram.puml
  docs/images/AndOrNodeInheritanceClassDiagram.png
  docs/images/AndOrSequenceDiagram.png
  docs/images/AndOrSequenceDiagramSimplified.png
  docs/images/ModelClassDiagram.png
  docs/images/ModelCoursePlannerClassDiagram.png
  docs/images/ModelCoursePlannerClassDiagram.svg
Labels: priority.Low

#168 Branch storage
  src/main/java/seedu/jarvis/MainApp.java
  src/main/java/seedu/jarvis/model/cca/ccaprogress/CcaCurrentProgress.java
  src/main/java/seedu/jarvis/model/cca/ccaprogress/CcaProgress.java
  src/main/java/seedu/jarvis/model/userprefs/ReadOnlyUserPrefs.java
  src/main/java/seedu/jarvis/model/userprefs/UserPrefs.java
  src/main/java/seedu/jarvis/storage/Storage.java
  src/main/java/seedu/jarvis/storage/StorageManager.java
  src/main/java/seedu/jarvis/storage/cca/CcaTrackerStorage.java
  src/main/java/seedu/jarvis/storage/cca/JsonAdaptedCca.java
  src/main/java/seedu/jarvis/storage/cca/JsonAdaptedCcaCurrentProgress.java
  src/main/java/seedu/jarvis/storage/cca/JsonAdaptedCcaMilestone.java
  src/main/java/seedu/jarvis/storage/cca/JsonAdaptedCcaProgress.java
  src/main/java/seedu/jarvis/storage/cca/JsonAdaptedEquipment.java
  src/main/java/seedu/jarvis/storage/cca/JsonCcaTrackerStorage.java
  src/main/java/seedu/jarvis/storage/cca/JsonSerializableCcaTracker.java
  src/main/java/seedu/jarvis/storage/history/HistoryManagerStorage.java
  src/main/java/seedu/jarvis/storage/history/JsonHistoryManagerStorage.java
  src/test/data/JsonCcaTrackerStorageTest/notJsonFormatCcaTracker.json
  src/test/data/JsonSerializableCcaTrackerTest/typicalCcaTracker.json
  src/test/data/JsonSerializableHistoryManagerStorageTest/typicalHistoryManager.json
  src/test/java/seedu/jarvis/logic/LogicManagerTest.java
  src/test/java/seedu/jarvis/storage/StorageManagerTest.java
  src/test/java/seedu/jarvis/storage/cca/JsonAdaptedCcaCurrentProgressTest.java
  src/test/java/seedu/jarvis/storage/cca/JsonAdaptedCcaMilestoneTest.java
  src/test/java/seedu/jarvis/storage/cca/JsonAdaptedCcaProgressTest.java
  src/test/java/seedu/jarvis/storage/cca/JsonAdaptedCcaTest.java
  src/test/java/seedu/jarvis/storage/cca/JsonAdaptedEquipmentTest.java
  src/test/java/seedu/jarvis/storage/cca/JsonCcaTrackerStorageTest.java
  src/test/java/seedu/jarvis/storage/cca/JsonSerializableCcaTrackerTest.java
  src/test/java/seedu/jarvis/storage/history/JsonHistoryManagerStorageTest.java
  src/test/java/seedu/jarvis/testutil/cca/TypicalCcas.java
Labels: feature.CCA, priority.Medium, type.Task

#170 Fix history manager storage bug
  src/main/java/seedu/jarvis/logic/LogicManager.java
  src/main/java/seedu/jarvis/logic/commands/CommandDeque.java
  src/main/java/seedu/jarvis/logic/commands/address/ClearAddressCommand.java
  src/test/java/seedu/jarvis/logic/commands/CommandDequeTest.java
  src/test/java/seedu/jarvis/storage/StorageManagerTest.java
Labels: feature.UndoRedo, priority.High, type.Bug

#167 Add tests to ensure successful execution of undo-ing commands
  docs/UserGuide.adoc
  src/main/java/seedu/jarvis/logic/commands/finance/EditInstallmentCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/RemoveInstallmentCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/RemovePaidCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/SetInstallmentCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/SetMonthlyLimitCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/SetPaidCommand.java
  src/main/java/seedu/jarvis/logic/parser/ParserUtil.java
  src/main/java/seedu/jarvis/logic/parser/finance/EditInstallmentCommandParser.java
  src/main/java/seedu/jarvis/logic/parser/finance/FinanceParserUtil.java
  src/main/java/seedu/jarvis/logic/parser/finance/SetInstallmentCommandParser.java
  src/main/java/seedu/jarvis/logic/parser/finance/SetMonthlyLimitCommandParser.java
  src/main/java/seedu/jarvis/logic/parser/finance/SetPaidCommandParser.java
  src/main/java/seedu/jarvis/model/ModelManager.java
  src/main/java/seedu/jarvis/model/financetracker/FinanceTracker.java
  src/main/java/seedu/jarvis/model/financetracker/FinanceTrackerModel.java
  src/main/java/seedu/jarvis/model/financetracker/InstallmentList.java
  src/main/java/seedu/jarvis/model/financetracker/PurchaseList.java
  src/main/java/seedu/jarvis/model/financetracker/exceptions/DuplicateInstallmentException.java
  src/main/java/seedu/jarvis/model/financetracker/exceptions/DuplicatePurchaseException.java
  src/main/java/seedu/jarvis/model/financetracker/installment/Installment.java
  src/main/java/seedu/jarvis/model/financetracker/purchase/Purchase.java
  src/test/java/seedu/jarvis/logic/commands/finance/EditInstallmentCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/finance/RemoveInstallmentCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/finance/RemovePaidCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/finance/SetInstallmentCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/finance/SetMonthlyLimitCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/finance/SetPaidCommandTest.java
  src/test/java/seedu/jarvis/logic/parser/finance/SetPaidCommandParserTest.java
  src/test/java/seedu/jarvis/model/finance/FinanceTrackerTest.java
  src/test/java/seedu/jarvis/model/finance/InstallmentListTest.java
  src/test/java/seedu/jarvis/model/finance/PurchaseListTest.java
  src/test/java/seedu/jarvis/model/finance/PurchaseTest.java
  src/test/java/seedu/jarvis/testutil/ModelStub.java
  src/test/java/seedu/jarvis/testutil/finance/PurchaseBuilder.java
Labels: feature.Finance, priority.High

#172 Implement basic skeleton for FindTaskCommand
  src/main/java/seedu/jarvis/logic/commands/planner/AddTaskCommand.java
  src/main/java/seedu/jarvis/logic/commands/planner/DeleteTaskCommand.java
  src/main/java/seedu/jarvis/logic/commands/planner/FindTaskCommand.java
  src/main/java/seedu/jarvis/logic/parser/JarvisParser.java
  src/main/java/seedu/jarvis/logic/parser/planner/FindTaskCommandParser.java
  src/main/java/seedu/jarvis/model/ModelManager.java
  src/main/java/seedu/jarvis/model/address/person/NameContainsKeywordsPredicate.java
  src/main/java/seedu/jarvis/model/planner/Planner.java
  src/main/java/seedu/jarvis/model/planner/PlannerModel.java
  src/main/java/seedu/jarvis/model/planner/TaskDesContainsKeywordsPredicate.java
  src/main/java/seedu/jarvis/model/planner/TaskList.java
  src/main/java/seedu/jarvis/model/planner/tasks/Task.java
  src/test/java/seedu/jarvis/logic/commands/planner/AddTaskCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/planner/DeleteTaskCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/planner/FindTaskCommandTest.java
  src/test/java/seedu/jarvis/logic/parser/planner/FindTaskCommandParserTest.java
  src/test/java/seedu/jarvis/model/planner/PlannerTest.java
  src/test/java/seedu/jarvis/model/planner/TaskDesContainsKeywordsPredicateTest.java
  src/test/java/seedu/jarvis/model/planner/tasks/DeadlineTest.java
  src/test/java/seedu/jarvis/model/planner/tasks/EventTest.java
  src/test/java/seedu/jarvis/model/planner/tasks/TodoTest.java
  src/test/java/seedu/jarvis/testutil/ModelStub.java
Labels: feature.Planner, type.Task

#174 Branch storage
  src/main/java/seedu/jarvis/MainApp.java
  src/main/java/seedu/jarvis/logic/LogicManager.java
  src/main/java/seedu/jarvis/model/planner/tasks/Event.java
  src/main/java/seedu/jarvis/model/planner/tasks/Task.java
  src/main/java/seedu/jarvis/model/userprefs/ReadOnlyUserPrefs.java
  src/main/java/seedu/jarvis/model/userprefs/UserPrefs.java
  src/main/java/seedu/jarvis/storage/Storage.java
  src/main/java/seedu/jarvis/storage/StorageManager.java
  src/main/java/seedu/jarvis/storage/address/JsonAdaptedEditPersonDescriptor.java
  src/main/java/seedu/jarvis/storage/cca/JsonAdaptedCca.java
  src/main/java/seedu/jarvis/storage/cca/JsonAdaptedCcaCurrentProgress.java
  src/main/java/seedu/jarvis/storage/cca/JsonAdaptedCcaMilestone.java
  src/main/java/seedu/jarvis/storage/cca/JsonAdaptedCcaProgress.java
  src/main/java/seedu/jarvis/storage/cca/JsonAdaptedEquipment.java
  src/main/java/seedu/jarvis/storage/course/CoursePlannerStorage.java
  src/main/java/seedu/jarvis/storage/course/JsonAdaptedCourse.java
  src/main/java/seedu/jarvis/storage/course/JsonCoursePlannerStorage.java
  src/main/java/seedu/jarvis/storage/course/JsonSerializableCoursePlanner.java
  src/main/java/seedu/jarvis/storage/history/JsonSerializableHistoryManager.java
  src/main/java/seedu/jarvis/storage/history/commands/JsonAdaptedCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/address/JsonAdaptedAddAddressCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/address/JsonAdaptedClearAddressCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/address/JsonAdaptedDeleteAddressCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/address/JsonAdaptedEditAddressCommand.java
  src/main/java/seedu/jarvis/storage/planner/JsonAdaptedDeadline.java
  src/main/java/seedu/jarvis/storage/planner/JsonAdaptedEvent.java
  src/main/java/seedu/jarvis/storage/planner/JsonAdaptedTask.java
  src/main/java/seedu/jarvis/storage/planner/JsonAdaptedTodo.java
  src/main/java/seedu/jarvis/storage/planner/PlannerStorage.java
  src/test/data/JsonCoursePlannerStorageTest/notJsonFormatCoursePlanner.json
  src/test/data/JsonSerializableCcaTrackerTest/typicalCcaTracker.json
  src/test/data/JsonSerializableCoursePlannerTest/typicalCoursePlanner.json
  src/test/java/seedu/jarvis/logic/LogicManagerTest.java
  src/test/java/seedu/jarvis/storage/StorageManagerTest.java
  src/test/java/seedu/jarvis/storage/cca/JsonCcaTrackerStorageTest.java
  src/test/java/seedu/jarvis/storage/course/JsonAdaptedCourseTest.java
  src/test/java/seedu/jarvis/storage/course/JsonCoursePlannerStorageTest.java
  src/test/java/seedu/jarvis/storage/course/JsonSerializableCoursePlannerTest.java
  src/test/java/seedu/jarvis/storage/history/JsonHistoryManagerStorageTest.java
  src/test/java/seedu/jarvis/storage/history/commands/address/JsonAdaptedAddAddressCommandTest.java
  src/test/java/seedu/jarvis/storage/history/commands/address/JsonAdaptedClearAddressCommandTest.java
  src/test/java/seedu/jarvis/storage/history/commands/address/JsonAdaptedEditPersonDescriptorTest.java
  src/test/java/seedu/jarvis/storage/planner/JsonAdaptedDeadlineTest.java
  src/test/java/seedu/jarvis/storage/planner/JsonAdaptedEventTest.java
  src/test/java/seedu/jarvis/storage/planner/JsonAdaptedTodoTest.java
Labels: feature.Course, priority.Medium, type.Task

#180 Implement DoneTask Command
  src/main/java/seedu/jarvis/logic/commands/planner/DoneTaskCommand.java
  src/main/java/seedu/jarvis/logic/parser/JarvisParser.java
  src/main/java/seedu/jarvis/logic/parser/ParserUtil.java
  src/main/java/seedu/jarvis/logic/parser/planner/AddTaskCommandParser.java
  src/main/java/seedu/jarvis/logic/parser/planner/DeleteTaskCommandParser.java
  src/main/java/seedu/jarvis/logic/parser/planner/DoneTaskCommandParser.java
  src/main/java/seedu/jarvis/model/ModelManager.java
  src/main/java/seedu/jarvis/model/planner/Planner.java
  src/main/java/seedu/jarvis/model/planner/PlannerModel.java
  src/main/java/seedu/jarvis/model/planner/TaskList.java
  src/main/java/seedu/jarvis/model/planner/enums/Frequency.java
  src/main/java/seedu/jarvis/model/planner/enums/Priority.java
  src/main/java/seedu/jarvis/model/planner/enums/Status.java
  src/main/java/seedu/jarvis/model/planner/tasks/Deadline.java
  src/main/java/seedu/jarvis/model/planner/tasks/Event.java
  src/main/java/seedu/jarvis/model/planner/tasks/Task.java
  src/main/java/seedu/jarvis/model/planner/tasks/Todo.java
  src/test/java/seedu/jarvis/logic/commands/planner/DeleteTaskCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/planner/DoneTaskCommandTest.java
  src/test/java/seedu/jarvis/logic/parser/ParserUtilTest.java
  src/test/java/seedu/jarvis/logic/parser/planner/AddTaskCommandParserTest.java
  src/test/java/seedu/jarvis/logic/parser/planner/DoneTaskCommandParserTest.java
  src/test/java/seedu/jarvis/model/planner/FrequencyTest.java
  src/test/java/seedu/jarvis/model/planner/PlannerTest.java
  src/test/java/seedu/jarvis/model/planner/PriorityTest.java
  src/test/java/seedu/jarvis/model/planner/TaskListTest.java
  src/test/java/seedu/jarvis/model/planner/tasks/DeadlineTest.java
  src/test/java/seedu/jarvis/model/planner/tasks/EventTest.java
  src/test/java/seedu/jarvis/model/planner/tasks/TodoTest.java
  src/test/java/seedu/jarvis/testutil/ModelStub.java
Labels: feature.Planner, type.Task

#178 Update Course Planner
  src/main/java/seedu/jarvis/logic/commands/course/CheckCommand.java
  src/main/java/seedu/jarvis/logic/commands/course/LookUpCommand.java
  src/main/java/seedu/jarvis/model/ModelManager.java
  src/main/java/seedu/jarvis/model/course/Course.java
  src/main/java/seedu/jarvis/model/course/CourseDisplayText.java
  src/main/java/seedu/jarvis/model/course/CoursePlanner.java
  src/main/java/seedu/jarvis/model/course/CoursePlannerModel.java
  src/test/java/seedu/jarvis/logic/commands/course/CheckCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/course/LookUpCommandTest.java
  src/test/java/seedu/jarvis/model/course/CourseDisplayTextTest.java
  src/test/java/seedu/jarvis/testutil/ModelStub.java
Labels: feature.Course, priority.High, type.Task

#186 integrate saving financetracker to storage
  src/main/java/seedu/jarvis/logic/LogicManager.java
  src/main/java/seedu/jarvis/logic/commands/course/DeleteCourseCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/JsonAdaptedCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/address/JsonAdaptedDeleteAddressCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/course/JsonAdaptedAddCourseCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/course/JsonAdaptedDeleteCourseCommand.java
  src/test/data/JsonSerializableFinanceTrackerTest/typicalFinanceTracker.json
  src/test/java/seedu/jarvis/storage/history/commands/course/JsonAdaptedAddCourseCommandTest.java
  src/test/java/seedu/jarvis/storage/history/commands/course/JsonAdaptedDeleteCourseCommandTest.java
  src/test/java/seedu/jarvis/testutil/finance/TypicalPurchases.java
Labels: feature.Finance, priority.Medium, type.Task

#189 Add implementation for UI.
  build.gradle
  docs/DeveloperGuide.adoc
  src/main/java/seedu/jarvis/MainApp.java
  src/main/java/seedu/jarvis/logic/commands/CommandResult.java
  src/main/java/seedu/jarvis/logic/commands/ExitCommand.java
  src/main/java/seedu/jarvis/logic/commands/HelpCommand.java
  src/main/java/seedu/jarvis/logic/commands/address/AddAddressCommand.java
  src/main/java/seedu/jarvis/logic/commands/address/ListAddressCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/AddCcaCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/AddProgressCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/ListCcaCommand.java
  src/main/java/seedu/jarvis/logic/parser/cca/AddProgressCommandParser.java
  src/main/java/seedu/jarvis/logic/parser/cca/CcaParserUtil.java
  src/main/java/seedu/jarvis/model/Model.java
  src/main/java/seedu/jarvis/model/ModelManager.java
  src/main/java/seedu/jarvis/model/cca/Cca.java
  src/main/java/seedu/jarvis/model/cca/CcaList.java
  src/main/java/seedu/jarvis/model/cca/CcaTracker.java
  src/main/java/seedu/jarvis/model/cca/CcaTrackerModel.java
  src/main/java/seedu/jarvis/model/cca/ccaprogress/CcaCurrentProgress.java
  src/main/java/seedu/jarvis/model/cca/ccaprogress/CcaMilestone.java
  src/main/java/seedu/jarvis/model/cca/ccaprogress/CcaMilestoneList.java
  src/main/java/seedu/jarvis/model/cca/ccaprogress/CcaProgress.java
  src/main/java/seedu/jarvis/model/viewstatus/ViewStatus.java
  src/main/java/seedu/jarvis/model/viewstatus/ViewType.java
  src/main/java/seedu/jarvis/ui/MainWindow.java
  src/main/java/seedu/jarvis/ui/UiManager.java
  src/main/java/seedu/jarvis/ui/address/PersonListView.java
  src/main/java/seedu/jarvis/ui/cca/CcaCard.java
  src/main/java/seedu/jarvis/ui/cca/CcaListView.java
  src/main/java/seedu/jarvis/ui/template/View.java
  src/main/resources/view/CcaListCard.fxml
  src/main/resources/view/CcaListView.fxml
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/MainWindow.fxml
  src/test/java/seedu/jarvis/logic/commands/CommandResultTest.java
  src/test/java/seedu/jarvis/logic/commands/ExitCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/HelpCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/cca/AddCcaCommandTest.java
  src/test/java/seedu/jarvis/model/cca/ccaprogress/CcaCurrentProgressTest.java
  src/test/java/seedu/jarvis/model/cca/ccaprogress/CcaMilestoneListTest.java
  src/test/java/seedu/jarvis/model/cca/ccaprogress/CcaMilestoneTest.java
  src/test/java/seedu/jarvis/testutil/ModelStub.java
  src/test/java/seedu/jarvis/testutil/cca/CcaBuilder.java
  src/test/java/seedu/jarvis/testutil/cca/TypicalCcaMilestones.java
Labels: feature.CCA, priority.High

#190 Branch storage
  src/main/java/seedu/jarvis/logic/commands/address/EditAddressCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/EditInstallmentCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/RemoveInstallmentCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/RemovePaidCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/SetInstallmentCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/SetMonthlyLimitCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/SetPaidCommand.java
  src/main/java/seedu/jarvis/storage/address/JsonAdaptedEditPersonDescriptor.java
  src/main/java/seedu/jarvis/storage/finance/JsonAdaptedEditInstallmentDescriptor.java
  src/main/java/seedu/jarvis/storage/history/commands/JsonAdaptedCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/address/JsonAdaptedAddAddressCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/address/JsonAdaptedClearAddressCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/address/JsonAdaptedDeleteAddressCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/address/JsonAdaptedEditAddressCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/finance/JsonAdaptedEditInstallmentCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/finance/JsonAdaptedRemoveInstallmentCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/finance/JsonAdaptedRemovePaidCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/finance/JsonAdaptedSetInstallmentCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/finance/JsonAdaptedSetMonthlyLimitCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/finance/JsonAdaptedSetPaidCommand.java
  src/test/java/seedu/jarvis/storage/address/JsonAdaptedEditPersonDescriptorTest.java
  src/test/java/seedu/jarvis/storage/finance/JsonAdaptedEditInstallmentDescriptorTest.java
  src/test/java/seedu/jarvis/storage/history/commands/address/JsonAdaptedEditAddressCommandTest.java
  src/test/java/seedu/jarvis/storage/history/commands/finance/JsonAdaptedEditInstallmentCommandTest.java
  src/test/java/seedu/jarvis/storage/history/commands/finance/JsonAdaptedRemoveInstallmentCommandTest.java
  src/test/java/seedu/jarvis/storage/history/commands/finance/JsonAdaptedRemovePaidCommandTest.java
  src/test/java/seedu/jarvis/storage/history/commands/finance/JsonAdaptedSetInstallmentCommandTest.java
  src/test/java/seedu/jarvis/storage/history/commands/finance/JsonAdaptedSetMonthlyLimitCommandTest.java
  src/test/java/seedu/jarvis/storage/history/commands/finance/JsonAdaptedSetPaidCommandTest.java
Labels: feature.UndoRedo, priority.Medium, type.Task

#191 Branch storage
  src/main/java/seedu/jarvis/logic/commands/cca/AddCcaCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/AddProgressCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/DeleteCcaCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/EditCcaCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/IncreaseProgressCommand.java
  src/main/java/seedu/jarvis/logic/commands/planner/AddTaskCommand.java
  src/main/java/seedu/jarvis/logic/commands/planner/DeleteTaskCommand.java
  src/main/java/seedu/jarvis/logic/commands/planner/DoneTaskCommand.java
  src/main/java/seedu/jarvis/storage/address/JsonAdaptedEditPersonDescriptor.java
  src/main/java/seedu/jarvis/storage/cca/JsonAdaptedCcaMilestone.java
  src/main/java/seedu/jarvis/storage/cca/JsonAdaptedEditCcaDescriptor.java
  src/main/java/seedu/jarvis/storage/history/commands/JsonAdaptedCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/address/JsonAdaptedDeleteAddressCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/cca/JsonAdaptedAddCcaCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/cca/JsonAdaptedAddProgressCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/cca/JsonAdaptedDeleteCcaCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/cca/JsonAdaptedEditCcaCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/course/JsonAdaptedAddCourseCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/course/JsonAdaptedDeleteCourseCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/finance/JsonAdaptedEditInstallmentCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/finance/JsonAdaptedRemoveInstallmentCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/finance/JsonAdaptedRemovePaidCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/finance/JsonAdaptedSetInstallmentCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/finance/JsonAdaptedSetMonthlyLimitCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/finance/JsonAdaptedSetPaidCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/planner/JsonAdaptedAddTaskCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/planner/JsonAdaptedDeleteTaskCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/planner/JsonAdaptedDoneTaskCommand.java
  src/test/java/seedu/jarvis/storage/cca/JsonAdaptedEditCcaDescriptorTest.java
  src/test/java/seedu/jarvis/storage/history/commands/cca/JsonAdaptedAddCcaCommandTest.java
  src/test/java/seedu/jarvis/storage/history/commands/cca/JsonAdaptedAddProgressCommandTest.java
  src/test/java/seedu/jarvis/storage/history/commands/cca/JsonAdaptedDeleteCcaCommandTest.java
  src/test/java/seedu/jarvis/storage/history/commands/cca/JsonAdaptedEditCcaCommandTest.java
  src/test/java/seedu/jarvis/storage/history/commands/cca/JsonAdaptedIncreaseProgressCommand.java
  src/test/java/seedu/jarvis/storage/history/commands/planner/JsonAdaptedAddTaskCommandTest.java
  src/test/java/seedu/jarvis/storage/history/commands/planner/JsonAdaptedDeleteTaskCommandTest.java
  src/test/java/seedu/jarvis/storage/history/commands/planner/JsonAdaptedDoneTaskCommandTest.java
  src/test/java/seedu/jarvis/testutil/TypicalIndexes.java
Labels: feature.UndoRedo, priority.Medium, type.Task

#200 Branch storage
  src/main/java/seedu/jarvis/logic/Logic.java
  src/main/java/seedu/jarvis/logic/LogicManager.java
  src/main/java/seedu/jarvis/logic/commands/Command.java
  src/main/java/seedu/jarvis/logic/commands/ExitCommand.java
  src/main/java/seedu/jarvis/logic/commands/HelpCommand.java
  src/main/java/seedu/jarvis/logic/commands/address/AddAddressCommand.java
  src/main/java/seedu/jarvis/logic/commands/address/ClearAddressCommand.java
  src/main/java/seedu/jarvis/logic/commands/address/DeleteAddressCommand.java
  src/main/java/seedu/jarvis/logic/commands/address/EditAddressCommand.java
  src/main/java/seedu/jarvis/logic/commands/address/FindAddressCommand.java
  src/main/java/seedu/jarvis/logic/commands/address/ListAddressCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/AddCcaCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/AddProgressCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/DeleteCcaCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/EditCcaCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/FindCcaCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/IncreaseProgressCommand.java
  src/main/java/seedu/jarvis/logic/commands/cca/ListCcaCommand.java
  src/main/java/seedu/jarvis/logic/commands/course/AddCourseCommand.java
  src/main/java/seedu/jarvis/logic/commands/course/CheckCommand.java
  src/main/java/seedu/jarvis/logic/commands/course/DeleteCourseCommand.java
  src/main/java/seedu/jarvis/logic/commands/course/ListCourseCommand.java
  src/main/java/seedu/jarvis/logic/commands/course/LookUpCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/EditInstallmentCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/FindPurchaseCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/ListFinancesCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/RemoveInstallmentCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/RemovePaidCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/SetInstallmentCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/SetMonthlyLimitCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/SetPaidCommand.java
  src/main/java/seedu/jarvis/logic/commands/history/RedoCommand.java
  src/main/java/seedu/jarvis/logic/commands/history/UndoCommand.java
  src/main/java/seedu/jarvis/logic/commands/planner/AddTaskCommand.java
  src/main/java/seedu/jarvis/logic/commands/planner/DeleteTaskCommand.java
  src/main/java/seedu/jarvis/logic/commands/planner/DoneTaskCommand.java
  src/main/java/seedu/jarvis/logic/commands/planner/FindTaskCommand.java
  src/main/java/seedu/jarvis/storage/history/JsonSerializableHistoryManager.java
  src/main/java/seedu/jarvis/storage/history/commands/JsonAdaptedCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/cca/JsonAdaptedIncreaseProgressCommand.java
  src/main/java/seedu/jarvis/storage/history/commands/exceptions/InvalidCommandToJsonException.java
  src/main/java/seedu/jarvis/ui/history/ActionListPanel.java
  src/test/java/seedu/jarvis/logic/commands/CommandDequeTest.java
  src/test/java/seedu/jarvis/logic/commands/address/AddAddressCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/address/ClearAddressCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/history/RedoCommandTest.java
  src/test/java/seedu/jarvis/logic/commands/history/UndoCommandTest.java
  src/test/java/seedu/jarvis/model/ModelManagerTest.java
  src/test/java/seedu/jarvis/model/history/HistoryManagerTest.java
  src/test/java/seedu/jarvis/storage/history/commands/cca/JsonAdaptedIncreaseProgressCommandTest.java
  src/test/java/seedu/jarvis/testutil/CommandStub.java
  src/test/java/seedu/jarvis/testutil/CommandStubExecutionThrowsCommandException.java
  src/test/java/seedu/jarvis/testutil/CommandStubHasNoInverse.java
  src/test/java/seedu/jarvis/testutil/CommandStubInverseExecutionThrowsCommandException.java
Labels: feature.CCA, feature.Course, feature.Finance, feature.Planner, feature.UndoRedo, priority.Medium, type.Task

#199 Add UI implementation for finance tracker
  src/main/java/seedu/jarvis/logic/commands/cca/ListCcaCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/ListFinancesCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/RemovePaidCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/SetMonthlyLimitCommand.java
  src/main/java/seedu/jarvis/logic/parser/finance/SetMonthlyLimitCommandParser.java
  src/main/java/seedu/jarvis/model/Model.java
  src/main/java/seedu/jarvis/model/ModelManager.java
  src/main/java/seedu/jarvis/model/finance/FinanceTracker.java
  src/main/java/seedu/jarvis/model/finance/FinanceTrackerModel.java
  src/main/java/seedu/jarvis/model/finance/PurchaseList.java
  src/main/java/seedu/jarvis/model/finance/installment/InstallmentMoneyPaid.java
  src/main/java/seedu/jarvis/model/finance/purchase/PurchaseMoneySpent.java
  src/main/java/seedu/jarvis/model/viewstatus/ViewType.java
  src/main/java/seedu/jarvis/ui/MainWindow.java
  src/main/java/seedu/jarvis/ui/finance/FinanceListView.java
  src/main/java/seedu/jarvis/ui/finance/InstallmentCard.java
  src/main/java/seedu/jarvis/ui/finance/PurchaseCard.java
  src/main/resources/view/FinanceListView.fxml
  src/main/resources/view/InstallmentListCard.fxml
  src/main/resources/view/PurchaseListCard.fxml
  src/test/java/seedu/jarvis/model/finance/PurchaseListTest.java
  src/test/java/seedu/jarvis/testutil/ModelStub.java
Labels: feature.Finance, priority.High

#201 Change UML diagram for CCATracker
  docs/diagrams/ModelCcaTrackerClassDiagram.puml
Labels: priority.High

#203 Minor changes to Planner UI
  src/main/java/seedu/jarvis/ui/planner/TaskCard.java
  src/main/resources/view/TaskListCard.fxml
Labels: feature.Planner, priority.Medium, type.Task

#209 Update TaskCard for Planner UI
  docs/UserGuide.adoc
  src/main/java/seedu/jarvis/model/planner/enums/Frequency.java
  src/main/java/seedu/jarvis/model/planner/enums/Priority.java
  src/main/java/seedu/jarvis/model/planner/enums/Status.java
  src/main/java/seedu/jarvis/model/planner/enums/TaskType.java
  src/main/java/seedu/jarvis/ui/planner/TaskCard.java
  src/test/java/seedu/jarvis/model/planner/tasks/DeadlineTest.java
  src/test/java/seedu/jarvis/model/planner/tasks/EventTest.java
  src/test/java/seedu/jarvis/model/planner/tasks/TodoTest.java
Labels: feature.Planner, type.Task

#212 Change Ui for finance tracker
  docs/diagrams/feature cca-tracker/IncreaseCcaProgress.puml
  docs/diagrams/feature course-planner/AndOrNodeInheritanceClassDiagram.puml
  docs/diagrams/feature course-planner/AndOrSequenceDiagram.puml
  docs/diagrams/feature course-planner/AndOrSequenceDiagramSimplified.puml
  docs/diagrams/feature undo-redo/UndoRedoState0.puml
  docs/diagrams/feature undo-redo/UndoRedoState1.puml
  docs/diagrams/feature undo-redo/UndoRedoState2.puml
  docs/diagrams/feature undo-redo/UndoRedoState3.puml
  docs/diagrams/feature undo-redo/UndoRedoState4.puml
  docs/diagrams/feature undo-redo/UndoRedoState5.puml
  docs/diagrams/feature undo-redo/UndoSequenceDiagram.puml
  docs/diagrams/feature undo-redo/UndoSequenceDiagramNew.puml
  docs/diagrams/model-related/ModelAddressBookClassDiagram.puml
  docs/diagrams/model-related/ModelCcaTrackerClassDiagram.puml
  docs/diagrams/model-related/ModelClassDiagram.puml
  docs/diagrams/model-related/ModelCoursePlannerClassDiagram.puml
  docs/diagrams/model-related/ModelFinanceTrackerClassDiagram.puml
  docs/diagrams/model-related/ModelHistoryManagerClassDiagram.puml
  docs/diagrams/model-related/ModelJarvisClassDiagram.puml
  docs/diagrams/model-related/ModelManagerClassDiagram.puml
  docs/diagrams/model-related/ModelPlannerClassDiagram.puml
  docs/diagrams/model-related/ModelUserPrefsClassDiagram.puml
  src/main/java/seedu/jarvis/logic/commands/finance/EditInstallmentCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/ListFinancesCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/RemoveInstallmentCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/RemovePaidCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/SetInstallmentCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/SetMonthlyLimitCommand.java
  src/main/java/seedu/jarvis/logic/commands/finance/SetPaidCommand.java
  src/main/java/seedu/jarvis/model/ModelManager.java
  src/main/java/seedu/jarvis/model/finance/FinanceTrackerModel.java
  src/main/java/seedu/jarvis/ui/finance/FinanceListView.java
  src/main/resources/view/FinanceListView.fxml
  src/main/resources/view/PurchaseListCard.fxml
  src/test/java/seedu/jarvis/testutil/ModelStub.java
Labels: feature.Finance, priority.High
